@font-face {
  font-family: "iconfont"; /* Project id 2673500 */
  src: url('iconfont.woff2?t=1627027322994') format('woff2'),
       url('iconfont.woff?t=1627027322994') format('woff'),
       url('iconfont.ttf?t=1627027322994') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-triangle-down:before {
  content: "\e665";
}

.icon-triangle-down1:before {
  content: "\e62d";
}

.icon-sousuo:before {
  content: "\e603";
}

.icon-bofangjilu:before {
  content: "\e8ad";
}

.icon-dianying:before {
  content: "\e8ae";
}

.icon-dianyingpiao:before {
  content: "\e8af";
}

.icon-gengduo:before {
  content: "\e8b0";
}

.icon-fenxiang:before {
  content: "\e8b1";
}

.icon-mima:before {
  content: "\e8b2";
}

.icon-pinglun:before {
  content: "\e8b4";
}

.icon-shezhi:before {
  content: "\e8b7";
}

.icon-shoucang:before {
  content: "\e8b9";
}

.icon-shouye:before {
  content: "\e8ba";
}

.icon-wode:before {
  content: "\e8bb";
}

.icon-aichegujiabeifen7:before {
  content: "\e604";
}

